<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <logger name="testingil.webinar.springmocking" level="error" />
    <logger name="o.s.jdbc.datasource.init.ScriptUtils" level="error" />
    <logger name="com.zaxxer.hikari" level="error" />
    <logger name="org.springframework.core " level="error" />
    <logger name="org.springframework.beans" level="error" />
    <logger name="org.springframework.context" level="error" />
    <logger name="org.springframework.transaction" level="error" />
    <logger name="org.springframework.web" level="error" />
    <logger name="org.springframework.test" level="error" />
    <logger name="org.springframework.boot.test" level="error" />
    <logger name="org.hibernate" level="error" />
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
</configuration>
